@font-face {
    font-family: myPHPFont;
    src: url(AlexBrush-Regular.ttf);
}
.today{
	font-size: 50px;
	font-family: myPHPFont;
	font-weight: bold;
	text-transform: lowercase;
	text-shadow: 2px 2px;
}
.price{
	text-decoration: line-through;
	color: red;
}
.text-demo{
	font-size: 50px;
	color: green;
	text-shadow: -3px -3px 20px red;
}